# Pandas Basics <hr style = "border:2.5px solid #0000FF"></hr>

<b> Lorenz V. Camorahan </b>
<br>Comptech Student T09
<br>12/16/25

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

# DATAFRAME <hr style = "border:2.5px solid #0000FF"></hr>

In [9]:
data = {
    "Name": ['Henry', 'Owen', 'Ada'],
    "Age": ['22', '23', '24'],
    "Sex": ['M', 'M', 'F']
}

df = pd.DataFrame(data)

In [10]:
# creating dataframe from dictionary
df = pd.DataFrame(data)
df

    Name Age Sex
0  Henry  22   M
1   Owen  23   M
2    Ada  24   F

# SERIES

age_col = df['Age']
age_col