<h1>LISTST AND TUPLE</h1>
<hr style="border: none; height: 4px; background-color: #210bb3ff; width: 100%;">

<b>Lorenz V. Camoraha</b>
<p>Comptech Student T09</p>
<p>12/14/2025</p>
<hr style="border: none; height: 4px; background-color: #210bb3ff; width: 100%;">

<h1>ITERATING OVER A LIST</h1>
<hr style="border: none; height: 4px; background-color: #210bb3ff; width: 100%;">

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [13]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

<h1>ITERATING OVER A DICTIONARY</h1>
<hr style="border: none; height: 4px; background-color: #210bb3ff; width: 100%;">

In [14]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [26]:
# key value pair
employee = {'name':['Lorenz','Kiyoshi'],
            'position': ['Engineer', 'Gamer'],
            'salary': [100000, 10000]
}

for key in employee:
    print(key)

name
position
salary

In [27]:
employee['salary']

[100000, 10000]

In [17]:
for value in employee.values():
    print(value)

['AG', 'Ashe']
['Engineer', 'Gamer']
[100000, 10000]

<h1>LAMBDA FUNCTION</h1>
<hr style="border: none; height: 4px; background-color: #210bb3ff; width: 100%;">

In [23]:
def mul_by_2(x):
    return x*2

print(mul_by_2(4))

8

In [ ]:
x = 4
mul_lambda = lambda x: x*2
print(mul_lambda(y))

8

In [30]:
type(x)

NameError: name 'x' is not defined